# ======================
# Maven build output
# ======================
target/
!.mvn/wrapper/maven-wrapper.jar

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
out/

# ======================
# Java
# ======================
*.class
*.log
hs_err_pid*

# ======================
# OS files
# ======================
.DS_Store

# ======================
# Config
# ======================
config.properties
.env
